.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.product-name{
    font-size: 20px;
    color: blue;
    font-weight: 500;
}
.cart-button{
    width: 150px;
    height: 30px;
    background-color: goldenrod;
    border: 1px solid gray;
    border-radius: 5px;
}